.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.no-bottom {
    margin-bottom: 0;
}
.bottom-mr{
    margin-bottom: 0.25rem;
}

.mt-n1 {
    margin-top: -0.25rem !important;
}
.mt-n2 {
    margin-top: -0.5rem !important;
}
.mt-n3 {
    margin-top: -1rem !important;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

header .top-bar-positioin {
    position: relative;
}

.col-no-padd>div {
    padding-left: 0px;
    padding-right: 0px;
}

.h_100 {
    height: 100%;
}

// paddings 

.padd-0 {
    padding: 0px;
}

.padd-10 {
    padding: 10px;
}

.padd-15 {
    padding: 15px;
}

.padd-20 {
    padding: 20px;
}

.padd-30 {
    padding: 30px;
}

.padd-40 {
    padding-bottom: 40px;
}

.padd-70-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.padd-70-0 {
    padding-top: 70px;
}

.padd-80 {
    padding-bottom: 80px;
}

.padd-60 {
    padding-bottom: 60px;
}

.padd-90-90 {
    padding: 90px 0px;
}

.padd-94-94 {
    padding: 94px 0px;
}

.padd-100 {
    padding: 100px 0px;
}

.padd-110 {
    padding: 110px 0px;
}

.padd-120 {
    padding-bottom: 120px;
}

.mar-5-0 {
    margin-left: 5px;
    margin-right: 5px;
}
.mar-5 {
    margin-right: 5px;
}
.mar-20-0 {
    margin-left: 20px;
    margin-right: 20px;
}
.mar-15 {
    margin-right: 15px;
}
.mar-30 {
    margin-top: 30px;
}

.mar-40 {
    margin-top: 40px;
}

.mar-70-70 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.mar-70-0 {
    margin-top: 70px;
}