@import "./global";
@import "./variables";

/* header css */
.body-wrapper {
  overflow-x: hidden;
}

.full-slider {
  margin-top: -125px;
}

.top-bar {
  background: rgba($Black, $alpha: 0.5);
  z-index: 999;
  transition: all 0.7s ease 0s;

  &::after {
    content: "";
    display: block;
    border-bottom: 0.1em solid rgba(255, 255, 255, 0.25);
  }

  .facebook-icon-sm {
    transition: all 0.3s linear;
    margin-left: 0px;

    &:hover {
      background: #4267b2;
    }
  }

  .youtube-icon-sm {
    transition: all 0.3s linear;
    margin-left: 0px;

    &:hover {
      background: #ff0000;
    }
  }

  ul {
    height: inherit;
    list-style: none;

    .bar-section-lines {
      height: 15px;
      width: 1px;
      background: rgba($White, $alpha: 0.25);
      padding: 0;
    }

    .bar-fill-lines {
      height: 30px;
      width: 1px;
      background: rgba($White, $alpha: 0.25);
      padding: 0;
      margin-left: 0px;
    }

    .facebook-icon {
      transition: all 0.3s linear;
      margin-top: -2px;
      margin-left: 0px;

      &:hover {
        background: #4267b2;
      }
    }

    .youtube-icon {
      transition: all 0.3s linear;
      margin-top: -2px;
      margin-left: 0px;
      margin-right: 0px;

      &:hover {
        background: #ff0000;
      }
    }

    li {
      padding: 0 5px;
      color: $White;
      margin-left: 15px;
      cursor: pointer;
      font-size: 12px;

      &:first-child {
        font-family: "Open Sans", sans-serif;
      }

      &:last-of-type {
        margin-left: 40px;
      }

      a {
        color: $White;
        text-decoration: none;
      }
    }
  }
}

.nav-menu-bg {
  background: rgba($Black, $alpha: 0.5);
}

.navbar-brand {
  height: 75px;
  margin-right: 60px;

  img {
    height: 100%;
  }
}

nav .navbar-toggler {
  height: 32px;
  width: 43px;
  padding: 0 3px;
  outline: none;
  cursor: pointer;
}

.navbar-expand-lg .navbar-nav .nav-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: -8px;
  left: 0;
  background: $Orange;
  transition: height 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-item :hover::after {
  height: 5px;
  transition: height 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: $White;
  transition: color 0.3s ease-in;
}

nav .navbar-nav .active>.nav-link,
nav .navbar-nav .nav-link:hover {
  color: $Green;
}

header {
  position: relative;

  .main-bar-positioin {
    position: static;

    .navbar {
      position: static;
    }
  }
}

header:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, green, rgb(208, 255, 0));
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  animation: smoothScroll 0.8s forwards;
  z-index: 9999;
}

nav .open-md-nav {
  transform: translateX(0%);
}

h3 {
  font-family: "Oswald", sans-serif;
}

h5 {
  font-family: "Open Sans", sans-serif;
}

.contact-form {
  background: transparent;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 99;
  position: absolute;

  form {
    padding: 5px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: center;
    background: rgba($Black, $alpha: 0.4);

    .form-row>h5 {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
    }

    label {
      margin-right: 10px;
      font-size: 12px;
    }

    .form-row input {
      height: 2rem;

      &:focus {
        border-bottom: 1px solid$Green !important;
        box-shadow: 0 1px 0 0$Green !important;
        color: $White;
      }
    }

    button {
      max-width: 200px;
      background: $Green;
      border: 2px solid $Green;
      transition: all 0.3s linear;
      font-family: "Open Sans", sans-serif;
      color: $Black;
      font-weight: 500;
      outline: none;
      box-shadow: none;
      text-transform: capitalize;

      &:hover {
        background: transparent;
        color: $Green;
      }
    }
  }
}

.contact-form form .form-row input {
  padding-right: 5px;
}

#carousel {
  margin-top: -125px;
  position: relative;
}

#sale .second-title h2 {
  font-size: 20px;
  text-transform: capitalize;
}

#tours .tours::after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 80%;
  border: 2px solid;
  background: #8f8e89;
  clip-path: polygon(50% 83%, 100% 55%, 50% 16%, 0 55%);
}

.title del {
  font-size: 16px;
  color: rgb(255, 0, 0);
}

.title a {
  text-decoration: none;
  width: 90%;
}

.btn-sale a {
  width: auto;
}

.m-center {
  display: flex;
  justify-content: center;
}

.c-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hv-blue-o {
  text-decoration: none !important;
}

.hv-blue-o:hover {
  background: $Blue !important;
  color: $White !important;
  font-weight: 500;
}

.color-orange-1 {
  color: $Orange;
}

.hotel-item .title h4 {
  font-size: 1.2rem;
}

.hotel-item.style-5 .title h4 {
  letter-spacing: 2.2px;
}

.hotel-item .n-price {
  font-size: 20px;
}

.top-bar li i {
  font-size: 18px;
}

.top-bar li:nth-child(3) i {
  transform: rotate(-40deg);
}

.price.green {
  background: $Green;
}

footer a {
  color: #bebebe;
}

footer a:hover {
  text-decoration: none;
  color: #1593d0;
}

.date-f {
  display: block;
  color: $Green;
  font-size: 12px;
  padding-bottom: 0px;
}

.footer-share a:hover {
  color: $Blue;
}

.footer-block {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

footer.type-2 .footer-link {
  padding-top: 20px;
}

.bg-dark.type-2 .f_news .f_news-img {
  width: 110px;
}

.bg-dark.type-2 .f_news .f_news-content {
  padding-top: 0px;
  margin-left: 60px;
  text-align: left;
}

.color-green-title {
  color: $Green;
}

.color-orange-title {
  color: #ef3c28;
}

.bg-dark.type-2 .logo-footer {
  margin-bottom: 30px;
  height: 90px;
}

.detail-title {
  padding-top: 30px;

}

.galerry {
  background: #000;
  margin: 0;
  padding: 0;
  position: relative;
  height: 500px;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.detail-content-block {
  margin-bottom: 66px;
}

.card-header {
  padding: 0;
}

.about-title h3 {
  font-size: 22px;
}

.clearfix a {
  display: block;
}


@import "./responsive";
@import "./keframes";