@import "./global";
@import "./variables";

/* header css */
.body-wrapper {
  overflow-x: hidden;
}

.top-bar {
  background: $Blue;
  z-index: 999;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.7s ease 0s;

  .phone {
    display: block;
    position: absolute;
    left: 10px;
    top: 6px;
    background-image: url("../images/phone.png");
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  ul {
    height: inherit;
    list-style: none;
    height: 40px;

    .bar-section-lines {
      height: 20px;
      width: 2px;
      background: $Green;
      padding: 0;
    }

    li {
      padding: 0 5px;
      color: $White;
      cursor: pointer;

      &:first-child {
        font-family: "Oswald", sans-serif;
      }

      a {
        color: $White;
        text-decoration: none;
      }
    }
  }
}

.navbar-brand {
  height: 50px;

  img {
    height: 100%;
  }
}

nav .navbar-toggler {
  height: 32px;
  width: 43px;
  padding: 0 3px;
  outline: none;
  cursor: pointer;
}

.navbar-expand-lg .navbar-nav .nav-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: -8px;
  left: 0;
  background: $Orange;
  transition: height 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-item :hover::after {
  height: 5px;
  transition: height 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: $Dark-Blue;
  transition: color 0.3s ease-in;
}

nav .navbar-nav .active>.nav-link,
nav .navbar-nav .nav-link:hover {
  color: $Green;
}

header {
  position: relative;

  .main-bar-positioin {
    position: static;

    .navbar {
      position: static;
    }
  }
}

header:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, green, rgb(208, 255, 0));
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  animation: smoothScroll 0.8s forwards;
  z-index: 9999;
}

nav .open-md-nav {
  transform: translateX(0%);
}

h3 {
  font-family: "Oswald", sans-serif;
}

h5 {
  font-family: 'Open Sans', sans-serif;
}

#sale .second-title h2 {
  font-size: 20px;
  text-transform: capitalize;
}

#tours .tours::after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 80%;
  border: 2px solid;
  background: #8f8e89;
  clip-path: polygon(50% 83%, 100% 55%, 50% 16%, 0 55%);
}

.title del {
  font-size: 16px;
  color: rgb(255, 0, 0);
}

.title a {
  text-decoration: none;
}

.m-center {
  display: flex;
  justify-content: center;
}

.c-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hv-blue-o {
  text-decoration: none !important;
}

.hv-blue-o:hover {
  background: $Blue !important;
  color: $White !important;
  font-weight: 500;
}

.color-orange-1 {
  color: $Orange;
}

.hotel-item .title h4 {
  font-size: 1.2rem;
}

.hotel-item.style-5 .title h4 {
  letter-spacing: 2.2px;
}

.hotel-item .n-price {
  font-size: 20px;
}

.top-bar li i {
  font-size: 18px;
}

.top-bar li:nth-child(3) i {
  transform: rotate(-40deg);
}

.price.green {
  background: $Green;
}

/* icon rotate */
.hvr-icon-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
}

.hvr-icon-grow-rotate .hvr-icon {
  background: white;
  padding: 3px 4px 4px 6px;
  color: $Green;
  border-radius: 20px;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.hvr-icon-grow-rotate:hover .hvr-icon,
.hvr-icon-grow-rotate:focus .hvr-icon,
.hvr-icon-grow-rotate:active .hvr-icon {
  transform: scale(1.1) rotate(0deg);
  color: coral;
}

/* Icon Bounce */
.hvr-icon-bounce {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
}

.hvr-icon-bounce .hvr-icon {
  background: white;
  padding: 3px 4px 3px 4px;
  color: $Green;
  border-radius: 20px;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.hvr-icon-bounce:hover .hvr-icon,
.hvr-icon-bounce:focus .hvr-icon,
.hvr-icon-bounce:active .hvr-icon {
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  color: coral;
}

/* Icon Fade */
.hvr-icon-fade {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-fade .hvr-icon {
  background: white;
  padding: 3px 3px 3px 3px;
  color: $Green;
  border-radius: 20px;
  transform: translateZ(0);
  transition-duration: 0.5s;
  transition-property: color;
}

.hvr-icon-fade:hover .hvr-icon,
.hvr-icon-fade:focus .hvr-icon,
.hvr-icon-fade:active .hvr-icon {
  color: #ff0000;
}

/* Icon Fade for FB*/
.hvr-icon-fade-fb {
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-fade-fb .hvr-icon {
  background: white;
  padding: 3px 4px 3px 4px;
  color: $Green;
  border-radius: 20px;
  transform: translateZ(0);
  transition-duration: 0.5s;
  transition-property: color;
}

.hvr-icon-fade-fb:hover .hvr-icon,
.hvr-icon-fade-fb:focus .hvr-icon,
.hvr-icon-fade-fb:active .hvr-icon {
  color: #4267b2;
}

footer a {
  color: #bebebe;
}

footer a:hover {
  text-decoration: none;
  color: #1593d0;
}

.date-f {
  display: block;
  color: $Green;
  font-size: 12px;
  padding-bottom: 0px;
}

.footer-share a:hover {
  color: $Blue;
}

.footer-block {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

footer.type-2 .footer-link {
  padding-top: 20px;
}

.bg-dark.type-2 .f_news .f_news-img {
  width: 110px;
}

.bg-dark.type-2 .f_news .f_news-content {
  padding-top: 0px;
  margin-left: 150px;
}

.color-green-title {
  color: $Green;
}

.color-orange-title {
  color: #EF3C28
}

.bg-dark.type-2 .logo-footer {
  margin-bottom: 30px;
}

.detail-title {
  padding-top: 30px;
}

.galerry {
  background: #000;
  margin: 0;
  padding: 0;
  position: relative;
  height: 500px;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.detail-content-block {
  margin-bottom: 66px;
}
.card-header{
  padding: 0;
}
.about-title h3{
  font-size: 22px;
}
.clearfix a{
 display: block;
}


@import "./responsive";
@import "./keframes";